<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/css/register.css">
<script src="/js/register.js"></script>

<form action="/forgot" method="POST">
    
    <label>
        <p class="label-txt">WHAT IS YOUR FATHERS ONLY NAME?</p>
        <input type="text" id="father" name="father" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">WHAT YOU LIKE MOST ?</p>
        <input type="text" id="like" name="like" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    

    <button type="submit">submit</button>
</form>
