<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/css/register.css">
<script src="/js/register.js"></script>
<title>Admin Registration</title>
<form action="/register" method="POST">
    <label>
        <p class="label-txt">ENTER YOUR NAME</p>
        <input type="text" id="name" name="name" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">ENTER YOUR EMAIL</p>
        <input type="email" id="email" name="email" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">ENTER YOUR FATHERS NAME</p>
        <input type="text" id="father" name="father" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">SOMETHING YOU LIKE? (1 WORD)</p>
        <input type="text" id="like" name="like" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
   
    <label>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input type="password" name="password" id="password" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <button type="submit">submit</button>
</form>