<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Scehmes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1 class="text-center bg-dark p-3 text-white">Schemes</h1>
        <form action="/scheme" method="POST" class="p-5">
            <div class="form-group ">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" required>
        
            </div>
            <div class="form-group ">
                <label for="email">Amount</label>
                <input type="text" class="form-control" id="Amount" name="Amount" placeholder="Enter Email..." required>
        
            </div>
            <div class="form-group ">
                <label for="text">Required Asset </label>
                <input type="text" class="form-control" id="r_asset" name="r_asset" placeholder="Enter Asset..." required>
            
            </div>
            <div class="form-group">
                    <select name="Duration" class="form-control" id="Duration" required>
                        <option readonly value="">Select Duration-Type</option>
            
                     
            
            
                        <option value="week" id="month" >Week</option>
                        <option  id="month" value="month">Month</option>
            
                       
            
                    </select>
            </div>
            <div class="form-group">
                <label for="text">No of Installment</label>
                <input type="text" class="form-control" id="instl" name="instl" placeholder="No of installment..." required>
            </div>
        
            <button type="submit" class="btn btn-primary">Add</button>
        
        </form>

    </div>
    
</body>

</html> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/css/register.css">
<script src="/js/register.js"></script>
<h4 style="text-align: center; color:#17A2B8;" class="p-4 bg-white">Add Scheme</h4>
<form action="/scheme" method="POST">
  
    <label>
        <p class="label-txt">SCHEME NAME</p>
        <input type="text" id="name" name="name" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">AMOUNT</p>
        <input type="text" name="Amount" id="Amount" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">REQUIRED ASSET</p>
        <input type="text" name="r_asset" id="r_asset" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <div class="form-group">
            <select name="Duration" class="form-control" id="Duration" required>
                <option readonly value="">Select Duration-Type</option>
        
        
        
        
                <option value="week" id="month">Week</option>
                <option id="month" value="month">Month</option>
        
        
        
            </select>
        </div>
    </label>
    <label>
        <p class="label-txt">NO OF INSTALLMENTS</p>
        <input type="text" id="instl" name="instl" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    
    </div>
    <button type="submit">submit</button>



</form>